.game-container {
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-top: 2%;
}

.spot {
  width: 30%;
  display: inline-block;
  height: 150px;
  overflow: hidden;
  font-size: 150px;
  text-align: center;
}

.spot:nth-child(2) {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.spot:nth-child(4) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.spot:nth-child(5) {
  border: 1px solid black;
}

.spot:nth-child(6) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.spot:nth-child(8) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.turn-it-are {
  width: 50%;
  height: 150px;
  font-size: 100px;
  margin: 0 auto;
  text-align: center;
  background-color: yellow;
}
