.game-container {
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-top: 2%;
}

.spot {
  width: 30%;
  display: inline-block;
  height: 150px;
  overflow: hidden;
  font-size: 150px;
  text-align: center;
}

.spot:nth-child(2) {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.spot:nth-child(4) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.spot:nth-child(5) {
  border: 1px solid black;
}

.spot:nth-child(6) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.spot:nth-child(8) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.turn-it-are {
  width: 50%;
  height: 150px;
  font-size: 100px;
  margin: 0 auto;
  text-align: center;
  background-color: yellow;
}


@-webkit-keyframes thumb {
0% { -webkit-transform: scale(1); }
50% { -webkit-transform: scale(0.7); }
100% { -webkit-transform: scale(1); }
}

.spot:hover {
  background-color: lightblue;
  -webkit-animation-name: thumb;
-webkit-animation-duration: 200ms;
-webkit-transform-origin:50% 50%;
-webkit-animation-iteration-count: 1;
-webkit-animation-timing-function: linear;
}
